header{

    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
    .nav1{
        width: 83%;
        background-color: rgb(228, 228, 228);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        .nav-left{
            width: 450px;
        
            display: flex;
            align-items: center;
            justify-content: space-between;
            .line{
               
                height: 20px;
                width: 1px;
                background-color: grey;
            }
        }
        .nav-right{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 500px;
            .line{
               
                height: 20px;
                width: 1px;
                background-color: grey;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100px;
            }
            .lang{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 30px;
                    height: 18px;
                    margin-right: 5px;
                }
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                   
                }
                i{
                    font-size: 12px;
                    margin-left: 10px;
                }

            }
        }

    }
}