
main{
   
    
    // width: 100vw;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // padding: 0px 325px 0px 325px;
   
    .navigator{
       
        width: 100vw;
        height: 100px;
      
        display: flex;
        align-items: center;
        justify-content: center;
        .inner-navigator{


            
            display: flex;
            align-items: center;
            justify-content: space-between;
            .links{
                margin: 0px 177.5px 0px 177.5px;
                display: flex;
                justify-content: space-around;
                width: 500px;
                a:nth-of-type(1){
                    color: #7fad39;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .header_cart{
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .heart{
                    
                    position: relative;
                    i{
                        font-size: 18px;
                    }
                    .zero{
                        position: absolute;
                        top: -6px;
                        right: -11px;
                        font-size: 12px;
                        width: 15px;
                        height: 15px;
                        background-color: #7fad39;;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                       
                        
                    }
                    
                    }
                    .shop{
                        position: relative;
                        i{
                            font-size: 18px;
                        }
                        .zero{
                            position: absolute;
                            top: -6px;
                            right: -11px;
                            font-size: 12px;
                            width: 15px;
                            height: 15px;
                            background-color: #7fad39;;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            color: white;
                           
                            
                        }
                }
    
            }
            p{
                font-size: 15px;
                span{
                    color: grey;
                }
            }
            
            
        }


        }
        
    #hero{
        display: flex;
        justify-content: center;
       
        width: 100%;
        .departments{
            margin-right: 30px;
          
            
            .header{
                cursor: pointer;
                width: 260px;
                height: 50px;
                background-color: #7fad39;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                color: white;
                
                // .fa-chevron-down{
                //     // transform: rotate(0deg);
                   
                // }
               .rotate{
                    transform: rotate(90deg) !important;
                }
                
            }
            
            .active{
                height: 100%;
                
            }
            ul{display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                margin-top: 10px;
                height: 0px;
                overflow: hidden;
                transition: 500ms;
                
            
                li{
                    padding-left: 40px;

                }
            }
            
            
        }
        .rest{
            .hero-header{
                display: flex;
                
                justify-content: space-between;
                margin-bottom: 20px;
                .search-box{
                    width: 600px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid rgba(221, 221, 221, 0.404);;
                    
                    height: 50px;
                    .catagories{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 180px;
                        gap: 10px  ;
                        font-weight: 600;
                        i{
                            font-size: 12px;
                        
                        }


                    }
                    .line{
               
                        height: 20px;
                        width: 1px;
                        background-color: rgba(221, 221, 221, 0.404);
                    }
                    input{
                        border: none;
                        height: 48px;
                        width: 200px;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    
                    .search-button{
                        width: 120px;
                        height: 50px;
                        background-color: #7fad39;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-weight: 600;
                        cursor: pointer;
                        

                    }
                  
                
                }
                .support{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    .phone{
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        background-color: #f5f5f5;
                        color: #7fad39;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                    .info{
                        display: flex;
                        gap: 10px   ;
                        flex-direction: column;
                        p:nth-of-type(1){
                            font-size: 17px;
                            font-weight: 750;
                        }
                        p:nth-of-type(2){
                            font-size: 12px;
                            color: grey;
                        }
                    }
                }
                

            }
            .img{
                position: relative;
                width: 870px;
                height: 450px;
                
                
                
               
                
                .text{
        
                    left: 10%;
                    position: absolute;
                    top: 25%;
                    gap: 8px;
                   
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    p:nth-of-type(1){
                        font-size: 14px;
                        color: #7fad39;
                        font-weight: 700;
                    }
                    p:nth-of-type(2){
                        font-size: 46px;
                        font-weight: 750;
                    }
                    p:nth-of-type(3){
                        font-size: 46px;
                        font-weight: 750;
                    }
                    p:nth-of-type(4){
                        font-size: 16px;
                        color: #6f6f6f;
                        font-weight: 500;
                    
                    }
                    button{
                        margin-top: 30px;
                        width: 141px;
                        height: 41px;
                        background-color: #7fad39;
                        border: none;
                        color: white;
                        font-weight: 700;
                    }
                    

                    
                }
                
            }
        }

    }
 

   

}
@media screen and (max-width: 1280px) {
    header{
        display: none;
    }
    main .navigator{
        max-width: 100%;
        .inner-navigator{
            max-width: 100%;
            .links{
                margin: 0;
            }
        }
    }
     body main #hero{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
     
    
        
        .departments{
            width: 100%;
            transition: 500ms;
             
             margin-bottom: 10px;
             
     
    
     
    
        
        .header{
            
           width: 100%;
        }

     }
     
    
    }
}
@media screen and (max-width: 900px){
   
    
    .rest{
      
        display: flex;
        flex-direction: column;
        .hero-header{
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
        .img{
            max-width: 600px;
            .text{
                gap: 0px    ;
                top: 10px;
               
                p:nth-of-type(2){
                    font-size: 30px;
                    
                }
                p:nth-of-type(3){
                    font-size: 30px;
                    
                }
                p:nth-of-type(4){
                    font-size: 10px;
                    
                }
                button{
                    margin-top: 5px;
                    width: 70px;
                    height: 30px;
                    font-size: 12px;
                }
            }

        
        
        
      
       
        .rest .hero-header .support{
            flex-direction: column;
            
                
                
              
            }
            
            
         }

     }
}
